body {
    
}

.titulo-principal {
    padding-left: 25px;
    background-color: #CCCCCC;
    color: black;
}

img {
    width: 100%;
}

.principal{
    background-color: #CCCCCC; 
    padding: 30px;
}

h2 {
   text-align: center;
}

P {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 20px;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.imagembeneficios {
    width: 50%;
}